
@{ 
 
        Layout = "~/Views/Shared/_LayoutDefault.cshtml";
   
}

  
 
    <div id="root">
        <nav>
            @Html.Raw(ViewBag.nUrl)
        </nav>
    </div>
    <div id="product">
         
        @Html.Raw(ViewBag.result)
    </div>
 
