@*<nav class="site-navigation page-navigation" style="opacity: 1; left: 2%;">
    <ul class="menu">
          
        @Html.Raw(ViewBag.resultIcon)


    </ul>


</nav>*@
<div id="productHomes">
    @Html.Raw(ViewBag.result)
    
</div>
