
@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div id="success">
	<div id=ContentSuccess>
    <h1>Đơn hàng của bạn đã được đặt thành công !</h1>
    <span>Chúng tôi sẽ liên hệ với bạn để xác nhận đơn hàng một cách sớm nhất ! Xin cảm ơn !</span>
    </div>
	<div class="Clear"></div>
</div>

