<div id="slideAdw">
    <div id="slide">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                @Html.Raw(ViewBag.result)
            </div>
        </div>
    </div>
    <div id="adwHeader">
        @Html.Raw(ViewBag.resultAdw)
    </div>
</div>

<div id="saleCenter">
</div>
<div class="line">
    <div class="leftLine"></div>
    <div class="centerLine"></div>
    <div class="rightLine"></div>
</div>